.about_link{
    @include text_container;
    .subtitle{
        @include subtitle;
    }
    .text_data{
        padding-bottom: 10px;
        p{
            padding: 10px 0 10px 0;
            line-height: 1.3;
        }
    }
    span{
        margin-bottom: 50px;
        display: inline-block;
        font-weight: 600;
        }
    .subtitle{
        @include text_container;
    }

}