.categories-container{
    margin: auto;
    max-width: 1280px;
    width: 100%;
    padding: 0 10px;
    
    .categories-wrraper{
        .category{
            padding-top: 138px;
        }
    }
}