.country{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 37px;
    right: 0;
    width: 160px;
    border-radius: 5px;
    padding: 6px 0;
    height: fit-content;
    background-color: white;
    box-shadow: $box-shadow;
    border: 1px solid rgb(202, 202, 202);
    span{
        display: flex;
        align-items: center;
        height: 32px;
        padding: 0 20px;
        cursor: pointer;
        &:hover{
            background-color:rgb(202, 202, 202) ;
        }
    }
}