.footer{
    display: flex;
    justify-content: center;
    height: 145px;
    width: 100%;
    margin-top: 100px;
    .footer_container{
        max-width: 1280px;
        width: 100%;
        height: 100%;
        
    }
}