.header-head{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 2;
    .header{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 64px;
        background-color: white;
        box-shadow: 0px -1px 6px 2px;
        .header-cont{
            display: flex;
            justify-content: space-between;
            max-width: 1280px;
            width: 100%;
            padding: 0 5px;
            height: 46px;
            .header-left{
                display: flex;
            }
            .header-right{
                display: flex;
                align-items: center;
                width: 100%;
                justify-content: space-between;
                .section-contact_cont{
                    display: flex;
                    @media only screen and (max-width:986px){
                        display: none;
                    }
                }
                .src-lng-cart-log_cont{
                    display: flex;
                    flex: 1;
                    @media only screen and (max-width:986px){
                        position: relative;
                    } 
                }
                }
        }
    }
    .media-section_container{
        display: none;
        width: 100%;
        min-height: 46px;
        background-color: white;
        box-shadow: 0px 0px 5px 0px;
        @media only screen and (max-width:986px){
            display: flex;
        }
        .media-section{
            display: flex;
            margin: auto;
            justify-content: flex-start;
            align-items: center;
            max-width: 1280px;
            width: 100%;
        }
    }
}