.section-item-enter_done{
    background-color: white;
    height: 100%;
    cursor: default;
    .item-enter_done_top{
        height: 104px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .title_inner{
            padding: 7px 0;
            .quantity-price-inner{
                display: flex;
                justify-content: center;
            }
        }
    }
    .product_actions{
        .product_counter-container{
            
        }
    }
}