.search-input{
    padding: 0 15px;
    width: 100%;
    @media only screen and (max-width:942px){
        position: absolute;
        top: 76px;
        left:0;
    }
    input{
        border: none;
        height: 100%;
        font-size: 16px;
        border-bottom: 2px solid $color-green;
        width: 100%;
        outline: none;
        background-color: transparent;
    }
}